@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(131, 201, 224);
}

header {
    color: #fff;
    text-align: center;
}

div {
    text-align: center;
    padding: 10px;
}

section {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.521);
}

footer {
    color: #fff;
    text-align: center;
    font-style: italic;
}