@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;

}

body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

header {
    color: #fff;
    text-align: center;
    padding: 30px;
    background-color: rgb(100, 123, 131);
    width: 80vw;
    border-radius: 0px 0px 40px 40px;
}

section {
    background-color: #fff;
    width: 400px;
    height: 350px;
    margin: auto;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 0.5s;

}

.opcoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

#botao {
    color: #fff;
    background-color: green;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    transition: 0.5s;
}

#botao:hover {
    scale: 1.3;
    cursor: pointer;
}

footer {
    text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        background-color: rgb(217, 226, 83);
    }
    header > h1 {
        font-size: 2.5em;
        transition: 0.5s;
    }

    section {
        font-size: 1.6em;
        background-color: #fff;
        width: 700px;
        transition: 0.5s;
    }
}
@media screen and (min-width: 1024px){
    body{
        background-color: lightgreen;
    }

    header > h1 {
        font-size: 3em;
        transition: 0.5s;
    }
    section {
        font-size: 2em;
        background-color: #fff;
        width: 900px;
        transition: 0.5s;
    }
}
