@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(131, 201, 224);
}

header {
    color: #fff;
    text-align: center;
}

section {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    min-height: 400px;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center; /* centraliza horizontalmente */
    gap: 15px;           /* espaçamento */
    text-align: center;
}


.res {
    border: 1px solid black;
    width: 260px;   /* menor que os 300px da section */
    height: 250px;
    text-align: center;
    padding: 10px;  /* opcional, melhora o visual */
    overflow-y: auto;  /* deixa rolar caso passe do tamanho */
    border-radius: 10px;
}



input#numero {
    width: 60px;
}

.botao{
    background-color: green;
    border: none;
    color: #fff;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    transition: 0.5s;

}

.botao:hover{
    scale: 1.2;
}


footer {
    color: #fff;
    text-align: center;
    font-style: italic;
}