@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(142, 142, 175);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    text-align: center;
    background-color: rgba(255, 228, 196, 0.24);
    width: 400px;
    border: 2px solid white;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}

.title {
    color: rgb(24, 24, 100);
}

#num {
    border: none;
    outline: none;
    text-align: center;
    width: 100px;
    font-weight: 500;
}

.container {
    background-color: bisque;
    width: 400px;
    border-radius: 20px;
    padding: 20px;
    border: 2px solid white;
    text-align: center;
}

#botao {
    border: none;
    color: white;
    background-color: green;
    padding: 0px 10px;
    border-radius: 10px;
}

#botao:hover{
    cursor: pointer;
}

#seltab{
    background-color: rgb(22, 112, 22);
    color: white;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.555);
    border-radius: 5px;
    border: none;
    outline: none;
}

#seltab{
    cursor: pointer;
}

#opcao{
    border: none;
    outline: none;
}
